@inherits LayoutComponentBase

<Layout Class="layout">
    <Content Style="padding: 0 50px;">
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; ">GitHub profile summary is built with <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.1">Blazor WebAssembly</a> and Ant Design Blazor (<a href="https://github.com/ant-design-blazor/ant-design-blazor">theme</a> & <a href="https://github.com/ant-design-blazor/ant-design-charts-blazor/">chart visualization</a>). Source is on <a href="https://github.com/pearl2201/GithubProfileSummary">Github</a></Footer>
</Layout>


<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
        height:100%;
    }
    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>