@inherits LayoutComponentBase

<Layout Class="layout">
    <Content Style="padding: 0 50px;">
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; ">Ant Design ©2018 Created by Ant UED</Footer>
</Layout>


<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
        height:100%;
    }
    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>